<div class="content-card" >
    
    <img *ngIf="content.imgURL; else defaultImg" src="{{content.imgURL}}" alt="{{content.title}}" class="imgs" (click)="onCardClick(content)">
    <ng-template #defaultImg>
        <img src="https://thumbs.dreamstime.com/b/environment-earth-day-hands-trees-growing-seedlings-bokeh-green-background-female-hand-holding-tree-nature-field-gra-130247647.jpg" alt="Default Image" class="imgs" (click)="onCardClick(content)">
    </ng-template>
    <h3 style="text-align: center;" >{{content.title}}</h3>
    <p><strong>Description: </strong>{{content.description}}</p>
    <p><strong>Creator: </strong>{{content.creator}}</p>
    <p appHoverAffect [hoverStyle]="'textDecoration'"><strong>Type: </strong> {{content.type}}</p>
    <strong>Tags:</strong>
    <ul appHoverAffect [hoverStyle]="'fontWeight'" *ngFor="let tag of content.tags">
        <li>{{tag}}</li>
    </ul>
</div>